.navbar-words {
    margin-right: 20px;
}

.marketing-image {
    width: 100vw;
    height: 400px;
    object-fit: cover;
}

.content {
    margin-top: 30px;
}

.title {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.tagline {
    color: blue;
    font-style: italic;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}

.visitor-email {
    font-weight: bold;
}

.newsletter-list {
    display: flex;
}

.newsletter-list-item {
    width: 300px;
}