@model SonOfCod.Models.PageContent

@{
    ViewData["Title"] = "Son of Cod - Landing Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="marketing-image-container"><img class="marketing-image" src="@Html.DisplayFor(Model => Model.ImageLink)" /></div>
